<%-include('include/_header')%>
    <div class="box-nav d-flex justify-between">
        <div class="filter">
            <a href="/pr"><i class="fas fa-angle-double-left"></i>Back</a>
        </div>
    </div>
    <div class="form-title text-center">
        <h2 class="text-dark">New Post</h2>
        <span class="text-light">Create a new post</span>
    </div>
    <%-include('include/_form')%>
<%-include('include/_footer')%>
