<form id="add_post" method="POST" action="/pr/api/site">
    <div class="new_post">
        <div class="form-group">
            <label for="title" class="text-light">Title</label>                    
            <input type="hidden" name="id">
            <input type="text" name="title"  placeholder="Enter a title">

            <label for="description" class="text-light">Description</label>                    
            <input type="hidden" name="id">
            <input type="text" name="description"  placeholder="Enter a description">

            <button type="submit" class="btn text-dark update">Post</button>
        </div>
    </div>
</form>